      <ion-view title="Discover">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

        <button class="button button-icon icon ion-search" ng-click="doSearch()"></button>
      </ion-nav-buttons>

        <ion-tabs class="tabs-top tabs-royal">

        <div id="search-box" class="bar bar-header bar-royal item-input-inset" ng-show="showSearch">
          <div class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="games.searchQuery">
            <i class="clearsearch button-icon icon ion-ios-close-empty" ng-click="clearSearch()"></i>
          </div>
          <button class="button button-clear" ng-click="doSearch()">
            Cancel 
          </button>
        </div>



          <ion-tab title="OUT NOW">
            <ion-content class="has-header">
              <ion-list class="discover-list">
                <ion-item ng-repeat="game in games | filter:games.searchQuery" game="game" href="#/app/game/{{game.id}}" back-img="{{game.attributes.gameHeader}}">
                  {{game.attributes.gameTitle}}

                  <div class="item-date">
                    <span class="item-date-day">
                      {{game.attributes.release_uk | date:'dd'}}
                      <span class="item-date-month">{{game.attributes.release_uk | date:'MMM'}}</span>
                    </span>
                  </div>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-tab>
          <ion-tab title="UPCOMING">
            <ion-content class="has-header">
              <ion-list class="discover-list">
                <ion-item ng-repeat="release in released" release="release" href="#/game/{{release.id}}" back-img="{{release.attributes.gameHeader}}">
                  {{release.attributes.gameTitle}}

                  <div class="item-date">
                    <span class="item-date-day">
                      {{release.attributes.release_uk | date:'dd'}}
                      <span class="item-date-month">{{release.attributes.release_uk | date:'MMM'}}</span>
                    </span>
                  </div>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-tab>
          <ion-tab title="MOST POPULAR">
            <ion-content class="has-header">
              <ion-list class="discover-list">
                <ion-item ng-repeat="pop in popular" pop="pop" href="#/game/{{pop.id}}" back-img="{{pop.attributes.gameHeader}}">
                  {{pop.attributes.gameTitle}}

                  <div class="item-date">
                    <span class="item-date-day">
                      {{pop.attributes.release_uk | date:'dd'}}
                      <span class="item-date-month">{{pop.attributes.release_uk | date:'MMM'}}</span>
                    </span>
                  </div>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-tab>

        </ion-tabs>


          
      </ion-view>