<ion-view view-title="{{gameInfo.attributes.gameTitle}}" drag-content="false" cache-view="false">
	<ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-heart-outline" ng-click="likeGame()"><ion-spinner ng-show="doSpinner" icon="crescent"></ion-spinner></button>
      </ion-nav-buttons>


    <ion-content>

    	<div class="detail_top">

	    	<div class="game_cover">
	    		<img src="{{gameInfo.attributes.gameCover}}" />
	    	</div>

    	</div>
		

	</ion-content>
</ion-view>