      <ion-view view-title="Log in" drag-content="false">
        <ion-content class="padding">
          <form class="login" ng-submit="doLogin()">
            <div class="list">
              <label class="item item-input">
                <input type="text" ng-model="loginData.username" placeholder="username">
              </label>
              <label class="item item-input">
                <input type="password" ng-model="loginData.password" placeholder="Password">
              </label>
            </div>
            <button class="button button-royal button-block" type="submit"><ion-spinner ng-show="doSpinner" icon="crescent"></ion-spinner>Log in</button>
          </form>
        </ion-content>
      </ion-view>