<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <div class="logo">
      ShoutOutz
    </div>
    <ion-content class="subheader">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/discover">
          Discover
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Watched
        </ion-item>
        <ion-item nav-clear menu-close href="#" ng-click="logout()">
          Sign Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>