<ion-view view-title="Sign up">
        <ion-content class="padding">
          <form ng-submit="doSignup()">
            <div class="list">
              <label class="item item-input">
                <input type="email" ng-model="signupData.email" placeholder="Email">
              </label>
              <label class="item item-input">
                <input type="text" ng-model="signupData.username" placeholder="Username">
              </label>
              <label class="item item-input">
                <input type="password" ng-model="signupData.password" placeholder="Password">
              </label>
            </div>
            <button class="button button-royal button-block"><ion-spinner ng-show="doSpinner" icon="crescent"></ion-spinner>Sign up</button>
          </form>
        </ion-content>
      </ion-view>