<ion-view view-title="ShoutOutz" drag-content="false">
        <ion-content class="padding" scroll="false">
          <div id="splash-wrap">
            <div id="logo"></div>
            <div class="buttons">
              <a class="button button-royal button-block" ui-sref="app.login">Log in</a>
              <a class="button button-royal button-block" ui-sref="app.signup">Sign up</a>
            </div>
          </div>
        </ion-content>
      </ion-pane>