/* Styles here */

#splash-wrap {
  position: relative;
  max-width: 300px;
  margin: auto;
  text-align: center;
  height: 400px;
}
.menu {
	background-color:rgba(47,47,47,0.98) !important;
}
.menu .item-content{
	background-color: transparent !important;
}
.menu .item{
	background-color: transparent !important;
}

#logo {
  width: 259px;
  height: 89px;
  margin: 30px auto;
);
  background-size: 100%;
}

.logo {
	text-align: center;
	color: #FFF !important;
	height: 150px;
	line-height: 75px;
}

.item {
	border:0px;
}

.has-header {
}
.subheader {
	top:40px;
}

.clearsearch {
	color:black;
	line-height: 20px;
}

.list {
	/*top:92px;*/
	border-top:0px;
	margin-top: -1px;
}
.login .list {
	top:0px;
}
.scroll-content {
	margin-top: 0px !important;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #FFF;
  fill: #FFF;
  padding-top: 8px;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 16px 16px 16px 16px;
}

.item-content{
  color: white !important;
  height:120px;
  font-size: 18px;
  line-height: 60px;
}
.item-date {
	border:1px solid rgba(255,255,255,0.7);
	float: right;
	border-radius: 25px;
	margin-top: 10px;
	height:50px;
	width:50px;
	text-align: center !important;
	margin-top: 20px;
	line-height: 40px;
}
.item-date-day {
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	line-height: 40px;
}
.item-date-month {
	font-size: 8px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	position: absolute;
	padding-top: 13px;
	margin-left: -18px;
}
ion-side-menu .item-content {
	height:40px;
	color:#FFF !important;
	font-size: 16px;
	line-height: 14px;
	margin-top: 20px;
}
ion-side-menu .item-content:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  opacity:0 !important;
  background: rgba(0,0,0,0.5) !important;
  -moz-transition: opacity 0.25s !important;
  -webkit-transition: opacity 0.25s !important;
  transition: opacity 0.25s !important;
  z-index: -1;
}
.tab-item-active {
	border-bottom: 3px solid white;
}


.item-content:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  opacity:1 !important;
  background: rgba(0,0,0,0.5) !important;
  -moz-transition: opacity 0.25s !important;
  -webkit-transition: opacity 0.25s !important;
  transition: opacity 0.25s !important;
  z-index: -1;
}

.item-content.activated:before {
  opacity: 1 !important;
}

.detail_top {
	background-color: #4e4e4e;
	padding: 10px;
	margin-top: -2px;
	padding-top: 13px;
}


.game_cover img {
	width:150px;
}
